services:
  ac-db-import:
    container_name: ac-db-import
    image: ${DOCKER_REPO}/ac-wotlk-db-import:${DOCKER_IMAGE_TAG:-master}
    networks:
      - ac-network
    build:
      context: .
      target: db-import
      dockerfile: apps/docker/Dockerfile
      args:
        USER_ID: ${DOCKER_USER_ID:-1000}
        GROUP_ID: ${DOCKER_GROUP_ID:-1000}
        DOCKER_USER: ${DOCKER_USER:-acore}
    environment:
      AC_DATA_DIR: "/azerothcore/env/dist/data"
      AC_LOGS_DIR: "/azerothcore/env/dist/logs"
      AC_LOGIN_DATABASE_INFO: "${DB_SERVER_INFO};acore_auth"
      AC_WORLD_DATABASE_INFO: "${DB_SERVER_INFO};acore_world"
      AC_CHARACTER_DATABASE_INFO: "${DB_SERVER_INFO};acore_characters"
    volumes:
      - ${DOCKER_VOL_ETC:-./env/dist/etc}:/azerothcore/env/dist/etc
      # [osxfs optimization]: https://stackoverflow.com/a/63437557/1964544
      - ${DOCKER_VOL_LOGS:-./env/dist/logs}:/azerothcore/env/dist/logs:delegated

  ac-worldserver:
    container_name: ac-worldserver
    image: ${DOCKER_REPO}/ac-wotlk-worldserver:${DOCKER_IMAGE_TAG:-master}
    build:
      context: .
      target: worldserver
      dockerfile: apps/docker/Dockerfile
      args:
        USER_ID: ${DOCKER_USER_ID:-1000}
        GROUP_ID: ${DOCKER_GROUP_ID:-1000}
        DOCKER_USER: ${DOCKER_USER:-acore}
    networks:
      - ac-network
    stdin_open: true
    tty: true
    restart: unless-stopped
    env_file: ${DOCKER_AC_ENV_FILE:-conf/dist/env.ac}
    environment:
      AC_DATA_DIR: "/azerothcore/env/dist/data"
      AC_LOGS_DIR: "/azerothcore/env/dist/logs"
      AC_LOGIN_DATABASE_INFO: "${DB_SERVER_INFO};acore_auth"
      AC_WORLD_DATABASE_INFO: "${DB_SERVER_INFO};acore_world"
      AC_CHARACTER_DATABASE_INFO: "${DB_SERVER_INFO};acore_characters"
      # conf
      AC_RATE_XP_QUEST: ${AC_RATE_XP_QUEST:-1}
      AC_RATE_XP_QUEST_DF: ${AC_RATE_XP_QUEST_DF:-1}
      AC_RATE_XP_EXPLORE: ${AC_RATE_XP_EXPLORE:-1}
      AC_RATE_XP_PET: ${AC_RATE_XP_PET:-1}
      AC_RATE_REPUTATION_GAIN: ${AC_RATE_REPUTATION_GAIN:-20}
      AC_RATE_REWARD_QUEST_MONEY: ${AC_RATE_REWARD_QUEST_MONEY:-20}
      AC_RATE_REWARD_BONUS_MONEY: ${AC_RATE_REWARD_BONUS_MONEY:-20}
      AC_MAX_PRIMARY_TRADE_SKILL: ${AC_MAX_PRIMARY_TRADE_SKILL:-11}
      AC_CORPSE_DECAY_LOOTED: ${AC_CORPSE_DECAY_LOOTED:-0.05}
      AC_SKILL_CHANCE_PROSPECTING: ${AC_SKILL_CHANCE_PROSPECTING:-1}
      AC_SKILL_CHANCE_MILLING: ${AC_SKILL_CHANCE_MILLING:-1}
      AC_SKILL_CHANCE_ORANGE: ${AC_SKILL_CHANCE_ORANGE:-1500}
      AC_SKILL_CHANCE_YELLOW: ${AC_SKILL_CHANCE_YELLOW:-1000}
      AC_SKILL_CHANCE_GREEN: ${AC_SKILL_CHANCE_GREEN:-500}
      AC_SKILL_CHANCE_GREY: ${AC_SKILL_CHANCE_GREY:-200}
      AC_STATS_LIMITS_DODGE: ${AC_STATS_LIMITS_DODGE:-150.0}
      AC_STATS_LIMITS_PARRY: ${AC_STATS_LIMITS_PARRY:-150.0}
      AC_STATS_LIMITS_BLOCK: ${AC_STATS_LIMITS_BLOCK:-150.0}
      AC_STATS_LIMITS_CRIT: ${AC_STATS_LIMITS_CRIT:-150.0}
      NPC_BOT_BASE_FOLLOW_DISTANCE: ${NPC_BOT_BASE_FOLLOW_DISTANCE:-5}
      AC_NPC_BOT_BASE_FOLLOW_DISTANCE: ${AC_NPC_BOT_BASE_FOLLOW_DISTANCE:-5}
    ports:
      - ${DOCKER_WORLD_EXTERNAL_PORT:-8085}:8085
      - ${DOCKER_SOAP_EXTERNAL_PORT:-7878}:7878
    volumes:
      - ${DOCKER_VOL_ETC:-./env/dist/etc}:/azerothcore/env/dist/etc
      # [osxfs optimization]: https://stackoverflow.com/a/63437557/1964544
      - ${DOCKER_VOL_LOGS:-./env/dist/logs}:/azerothcore/env/dist/logs:delegated
      # client data
      - ${DOCKER_VOL_DATA:-ac-client-data}:/azerothcore/env/dist/data/:ro
    depends_on:
      ac-db-import:
        condition: service_completed_successfully
      ac-client-data-init:
        condition: service_completed_successfully

  ac-authserver:
    container_name: ac-authserver
    image: ${DOCKER_REPO}/ac-wotlk-authserver:${DOCKER_IMAGE_TAG:-master}
    build:
      context: .
      target: authserver
      dockerfile: apps/docker/Dockerfile
      args:
        USER_ID: ${DOCKER_USER_ID:-1000}
        GROUP_ID: ${DOCKER_GROUP_ID:-1000}
        DOCKER_USER: ${DOCKER_USER:-acore}
    networks:
      - ac-network
    tty: true
    restart: unless-stopped
    env_file: ${DOCKER_AC_ENV_FILE:-conf/dist/env.ac}
    environment:
      AC_LOGS_DIR: "/azerothcore/env/dist/logs"
      AC_TEMP_DIR: "/azerothcore/env/dist/temp"
      AC_LOGIN_DATABASE_INFO: "${DB_SERVER_INFO};acore_auth"
    volumes:
      - ${DOCKER_VOL_ETC:-./env/dist/etc}:/azerothcore/env/dist/etc
      # [osxfs optimization]: https://stackoverflow.com/a/63437557/1964544
      - ${DOCKER_VOL_LOGS:-./env/dist/logs}:/azerothcore/env/dist/logs:delegated
    ports:
      - ${DOCKER_AUTH_EXTERNAL_PORT:-3724}:3724
    depends_on:
      ac-db-import:
        condition: service_completed_successfully

  ac-client-data-init:
    container_name: ac-client-data-init
    image: ${DOCKER_REPO}/ac-wotlk-client-data:${DOCKER_IMAGE_TAG:-master}
    build:
      context: .
      target: client-data
      dockerfile: apps/docker/Dockerfile
      args:
        USER_ID: ${DOCKER_USER_ID:-1000}
        GROUP_ID: ${DOCKER_GROUP_ID:-1000}
        DOCKER_USER: ${DOCKER_USER:-acore}
    volumes:
      - ${DOCKER_VOL_CLIENT_DATA:-ac-client-data}:/azerothcore/env/dist/data

  # used for extracting maps from files shipped with game client
  # Most of the time this shouldn't be needed
  ac-tools:
    container_name: ac-tools
    image: ${DOCKER_REPO}/ac-wotlk-tools:${DOCKER_IMAGE_TAG:-master}
    build:
      context: .
      target: tools
      dockerfile: apps/docker/Dockerfile
      args:
        USER_ID: ${DOCKER_USER_ID:-1000}
        GROUP_ID: ${DOCKER_GROUP_ID:-1000}
        DOCKER_USER: ${DOCKER_USER:-acore}
    working_dir: /azerothcore/env/client/
    volumes:
      # this is not the directory of the extracted data! It's the client folder used by the extractors
      - ${DOCKER_AC_CLIENT_FOLDER:-./var/client}:/azerothcore/env/dist/bin/Data
    # Activate with `docker compose --profile tools ...`
    profiles: [ tools ]

  # Dev server with the ./azerothcore folder binded from the host
  # Please use Linux, WSL2 or any ext-compatible filesystem
  # to avoid performance issues
  #
  # This is primarily intended for use with the "devcontainer" project
  #
  # This is provided primarily for development, though it doesn't receive
  # first-class support
  ac-dev-server:
    tty: true
    image: ${DOCKER_REPO}/ac-wotlk-dev-server:${DOCKER_IMAGE_TAG:-master}
    build:
      context: .
      dockerfile: ./apps/docker/Dockerfile.dev-server
      args:
        USER_ID: ${DOCKER_USER_ID:-1000}
        GROUP_ID: ${DOCKER_GROUP_ID:-1000}
        DOCKER_USER: ${DOCKER_USER:-acore}
      target: dev
    env_file: ${DOCKER_AC_ENV_FILE:-conf/dist/env.ac}
    environment:
      AC_DATA_DIR: "/azerothcore/env/dist/data"
      AC_LOGS_DIR: "/azerothcore/env/dist/logs"
      AC_LOGIN_DATABASE_INFO: "${DB_SERVER_INFO};acore_auth"
      AC_WORLD_DATABASE_INFO: "${DB_SERVER_INFO};acore_world"
      AC_CHARACTER_DATABASE_INFO: "${DB_SERVER_INFO};acore_characters"
    ports:
      - ${DOCKER_AUTH_EXTERNAL_PORT:-3724}:3724
      - ${DOCKER_WORLD_EXTERNAL_PORT:-8085}:8085
      - ${DOCKER_SOAP_EXTERNAL_PORT:-7878}:7878
    volumes:
      - ${DOCKER_VOL_ROOT:-.}:/azerothcore:cached
      # [osxfs optimization]: https://stackoverflow.com/a/63437557/1964544
      - ac-build-dev:/azerothcore/var/build
      - ac-ccache-dev:/azerothcore/var/ccache
      # this is not the directory of the extracted data! It's the client folder used by the extractors
      - ${DOCKER_AC_CLIENT_FOLDER:-./var/client}:/azerothcore/env/dist/bin/Data
    # Activate with `docker compose --profile dev ...`
    profiles: [ dev ]

volumes:
  # Used for dev server
  ac-client-data:
  ac-build-dev:
  ac-ccache-dev:


networks:
  ac-network:
